
.modal-body{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
    "modal-description modal-landmark";
}

.modal-description{
    grid-area: modal-description;
    line-height: 2rem;
}

.modal-landmark{
    grid-area: modal-landmark;
    width: 100%;
}

